<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/mainsliding" style="width:500px; text-align: center;">
    <h4 class="title">
      <span style="font-size: 35px;">></span>
      PROMPT SOLUTIONS
    </h4>
    <p id="slogan" style="margin-left: 30px;"><b>We Promise We Deliver</b></p>
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" routerLink="/home" role="button" data-toggle="dropdown" id="navbarDropdown"
          aria-expanded="false">
          <b>HOME</b>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/mission">Mission</a></li>
          <li><a class="dropdown-item" routerLink="/expertise">Expertise</a></li>
          <li><a class="dropdown-item" routerLink="/partnership">Partnerships</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about"><b>ABOUT US</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services"><b>SERVICES</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact"><b>CONTACT US</b></a>
      </li>
    </ul>
    <img src="..\..\assets\images\phone_icon.jpg" style="max-width:20px;max-height: 15px;">
    <span style="margin-left: 10px;" id="slogan"><b> 302-513-7283</b></span>
  </div>
</nav>