<div class="card bg" style="height: 35rem;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <br />
            <br />
            <br />
            <br />
            <!-- <img src="..\..\assets\images\mission_pp3.jpg" alt="..." class="card-img"
                style="max-width:500px;max-height: 600px;"> -->
                <p class="card-text side_heading">Mission</p>
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <br />
                <br />
                <br />
                <br />

                <p class="card-text" style="font-size: 20px;">
                    Our mission is to be the bridge that closes the gap between
                        outstanding talent and thriving businesses. We aim to create mutually beneficial partnerships by
                        matching the right individuals with the right opportunities, fostering professional growth, and
                        contributing to the overall success of the organizations we serve.
                </p>
                <br />

            </div>
        </div>
        <div class="col-md-3"> </div>

    </div>
</div>