
  <div class="card" style="height: 35rem;">
    <div class="row">
     
      <div class="col-md-5">
        <div class="card-body">
            <br/>
            <br/>
            <br/>
          <p class="card-text side_heading2">Welcome to Prompt Solutions...</p>
          <br/>
          
          <p class="card-text" style="font-size: 20px;">
            At Prompt Solutions, we firmly believe in the power of promises and the importance of delivering on those promises. 
            Our <b style="color: #0069d9;">"We Promise We Deliver"</b> philosophy is the cornerstone of our operations and is deeply ingrained in our company culture. 
          </p>
          <br/>
        <a href="/about" class="btn btn-primary">Get Started</a>
        </div>
      </div>
      <div class="col-md-7">
        <br/>
        <br/>
        <img src="././assets/images/staffing-2.jpg" alt="..." class="card-img" style="max-width:800px;max-height: 460px;">
      </div>
    </div>
</div>
 

  <!-- <div class="card bg-dark ">
    <img src=".\.\assets\images\staffing-2.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h4 class="card-title">PROMPT SOLUTIONS</h4>
        <p class="card-text">
          At Prompt Solutions, we firmly believe in the power of promises and the importance of delivering on those promises. 
          Our "We Promise We Deliver" philosophy is the cornerstone of our operations and is deeply ingrained in our company culture. 
      </p>
      <a href="/about" class="btn btn-primary">Get Started</a>
      
    </div>
  </div> -->

 
