<div class="card bg" style="height: 35rem;">
    <div class="row">

        <div class="col-md-4" style="text-align: center;">
            <br />
            <br />
            <br />
            <br />
            <!-- <img src="..\..\assets\images\expertise_pp2.jpg" alt="..." class="card-img"
                style="max-width:500px;max-height: 500px;"> -->

            <!-- <img id="slogan" class="card-img" src="..\..\assets\images\shaking_hands.jpg"
                style="margin-left: 40px;max-width:200px;max-height: 60px;"> -->
            <p class="card-text side_heading1">Partnerships</p>
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <br />
                <br />
                <br />
                <br />

                <p class="card-text" style="font-size: 20px;">
                    We believe in fostering long-term partnerships with both our clients and
                    candidates. By building strong relationships based on trust, transparency and mutual success,
                    we aim to be the go-to staffing resource for businesses and job seekers alike. Our dedicated
                    team takes the time to understand the unique needs and aspirations of each individual, enabling
                    us to provide sustainable staffing solutions that drive growth and prosperity.
                </p>
                <br />

            </div>
        </div>
        <div class="col-md-3"> </div>

    </div>
</div>