<div class="card bg">
    <!-- <div class="card-img-overlay"> -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="card-body">
                    <br />
                    
                    <p class="card-text side_heading3">
                        Our Services:
                    </p>
                    <p class="card-text" style="font-size: 20px;">
                        At <b style="color: #0069d9;"> Prompt Solutions,</b> we understand that finding the right talent for your organization
                        is crucial
                        for success. We offer comprehensive staffing services tailored to meet your unique needs,
                        whether you're a small business, a growing startup, or an established enterprise.
                    </p>
                    
                    <p class="card-text side_heading4"> Temporary Staffing:</p>

                    <p class="card-text" style="font-size: 20px;">
                        We provide skilled and qualified professionals on a temporary basis to fulfill your short-term
                        staffing requirements. Whether you need support during peak seasons, special projects, or
                        employee absences, our temporary staffing solutions ensure you have the right people when you
                        need them.</p>

                    <p class="card-text side_heading4"> Direct Hire:</p>
                    <p class="card-text" style="font-size: 20px;">
                        Finding the perfect candidate for a permanent position can be time-consuming and challenging.
                        Our direct hire services take the burden off your shoulders. We leverage our extensive network,
                        industry expertise, and thorough screening processes to identify top talent that aligns with
                        your company culture and requirements.</p>

                    <p class="card-text side_heading4"> Contract-to-Hire:</p>
                    <p class="card-text" style="font-size: 20px;">
                        Want to assess a candidate's skills and compatibility before making a long-term commitment? Our
                        contract-to-hire services allow you to evaluate potential employees on a temporary basis before
                        extending a permanent offer. This flexible approach ensures you make informed hiring decisions
                        and build a strong team.</p>

                    <!-- <p class="card-text side_heading2"> Executive Search:</p>
                    <p class="card-text" style="font-size: 20px;">
                        When it comes to hiring top-level executives who can drive your company's growth, we excel in
                        identifying exceptional leaders. Our executive search services are designed to find and attract
                        high-caliber professionals with the right blend of skills, experience, and leadership qualities
                        to fill critical roles within your organization.</p>

                    <p class="card-text side_heading2"> Industry Specializations:</p>
                    <p class="card-text" style="font-size: 20px;">
                        We understand that different industries have unique staffing requirements. With our industry
                        specialization approach, we have developed expertise in various sectors, including technology,
                        healthcare, finance, manufacturing, and more. Our recruiters have in-depth knowledge of these
                        industries, allowing us to find candidates with the specific skills and experience you need.
                    </p> -->
                    <br />

                </div>
            </div>
            <div class="col-md-3"></div>
            <!-- <div class="col-md-6">
                <br />
                <br />
                <div class="services_img card-img"></div>
            </div> -->
            <div class="col-md-1"></div>
        </div>

    </div>
