<div class="card" style="background-color:aliceblue;height:35rem;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br />

            <h3 style="text-align: center;">Home</h3>

            <p>
                Welcome to PROMPT SOLUTIONS LLC, a leading staffing company dedicated to connecting exceptional
                talent with top-notch organizations. With our extensive industry experience and unwavering commitment to
                excellence,
                we strive to provide tailored staffing solutions that drive success for both our clients and candidates.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />

   
