<div class="card bg" style="height: 35rem;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <br />
            <br />
            <!-- <p class="card-text side_heading2">Contact us</p> -->
            <p class="card-text" style="font-size: 20px;">
                We apprecite your interest in Prompt Solutions.
            </p>
            <p class="card-text" style="font-size: 20px;">
                Please fill the details below.
            </p>


            <p class="card-text side_heading2">Address :</p>
            <p class="card-text" style="font-size: 20px;">210 Presidential Dr, </p>
            <p class="card-text" style="font-size: 20px;"> Wilmington, DE - 19807, USA</p>

            <p class="card-text" style="font-size: 20px;"> C : 302-513-7283</p>
            <p class="card-text" style="font-size: 20px;"> E : hr@prompt-sol.com </p>
        </div>
        <div class="col-md-7">
            <br />
            <br />
            <br />
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3066.537659114739!2d-75.60074832429049!3d39.77248787155043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6fdcaa5078333%3A0x27bd75c75162c08f!2s210%20Presidential%20Dr%2C%20Wilmington%2C%20DE%2019807!5e0!3m2!1sen!2sus!4v1687523278087!5m2!1sen!2sus"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

</div>