<div class="card bg" style="height: 35rem;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <br />
            <br />
            <br/>
            <br/>
            <!-- <img src="..\..\assets\images\expertise_pp2.jpg" alt="..." class="card-img"
                style="max-width:500px;max-height: 500px;"> -->
                <p class="card-text side_heading">Expertise</p>
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <br />
                <br />
                <br />
                <br />

                <p class="card-text" style="font-size: 20px;">
                    We have deep understanding of various sectors and the evolving needs of businesses. We specialize in sourcing
                    and placing highly skilled professionals in fields such as IT, finance, engineering, healthcare,
                    marketing, and more. Our team of expert recruiters diligently assesses candidates'
                    qualifications, experience, and cultural fit to ensure the perfect match for every role.
                </p>
                <br />

            </div>
        </div>
        <div class="col-md-3"> </div>

    </div>
</div>
