<div class="card bg" style="height: 35rem;">
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- <div class="wrapper">
                <p class="card-text" style="font-size: 30px;">
                    Thank you for providing us with the details.
                    We will be reaching out shortly!
                </p>
            </div> -->
            <div class=" thankyou_img"></div>
        </div>
        <div class="col-md-3"></div>