<div class="card bg" style="height:35rem;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <br />
            <br />

            <!-- <p class="card-text side_heading2">About us</p> -->

            <p class="card-text" style="font-size: 20px;">
                <b style="color: #0069d9;">Prompt Solutions LLC</b> a leading staffing company dedicated to connecting
                exceptional
                talent with top-notch organizations. With our extensive industry experience and unwavering commitment to
                excellence,
                we strive to provide tailored staffing solutions that drive success for both our clients and candidates.
            </p>
            <p class="card-text" style="font-size: 20px;">
                We understand that different industries have unique staffing requirements. With our industry
                specialization approach, we have developed expertise in various sectors, including technology,
                healthcare, finance, manufacturing, and more. Our recruiters have in-depth knowledge of these
                industries, allowing us to find candidates with the specific skills and experience you need.
            </p>
            
            <p class="card-text" style="font-size: 20px;">
                Partner with us today and experience the difference that our comprehensive staffing services
                can make for your organization.
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br />

    <!-- <div class="row" style="text-align: center;margin-left: 70px;">

        <div class="col-md-4">
            <div class="card border-success mb-3 h-100" style="max-width: 25rem;">
                <div class="card-header border-success" style="background-color:lightskyblue">
                    <h5 class="card-title">Our Mission</h5>
                </div>
                <div class="card-body text-success">

                    <p class="card-text">
                        <b>Our mission is to be the bridge that closes the gap between
                        outstanding talent and thriving businesses. We aim to create mutually beneficial partnerships by
                        matching the right individuals with the right opportunities, fostering professional growth, and
                        contributing to the overall success of the organizations we serve.</b></p>
                </div>

            </div>
        </div>


        <div class="col-md-4">
            <div class="card border-success mb-3 h-100" style="max-width: 25rem;">
                <div class="card-header border-success" style="background-color:lightskyblue;">
                    <h5 class="card-title">Our Expertise</h5>
                </div>
                <div class="card-body text-success">

                    <p class="card-text">
                        <b>We have deep understanding of various sectors and the evolving needs of businesses. We specialize in sourcing
                        and placing highly skilled professionals in fields such as IT, finance, engineering, healthcare,
                        marketing, and more. Our team of expert recruiters diligently assesses candidates'
                        qualifications, experience, and cultural fit to ensure the perfect match for every role.</b></p>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-success mb-3 h-100" style="max-width: 25rem;">
                <div class="card-header border-success" style="background-color:lightskyblue;">
                    <h5 class="card-title">Partnerships</h5>
                </div>
                <div class="card-body text-success">

                    <p class="card-text"><b>We believe in fostering long-term partnerships with both our clients and
                        candidates. By building strong relationships based on trust, transparency and mutual success,
                        we aim to be the go-to staffing resource for businesses and job seekers alike. Our dedicated
                        team takes the time to understand the unique needs and aspirations of each individual, enabling
                        us to provide sustainable staffing solutions that drive growth and prosperity.</b></p>
                </div>

            </div>
        </div>


    </div> -->