/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=PT+Serif:ital@0;1&display=swap');
header
{
    background-color : #ccc;
    font-family: 'Oswald', sans-serif;
}

body {
    overflow-x: hidden; /* Hide scrollbars */
}
.bg
{
    background-image: url('..\src\assets\images\background_abstract.jpg');
    /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  span.small {
    font-size: smaller;
  }
  #slogan {
    color:darkorange;
    font-size: 16px;
    display: block;
    margin : 0;
    padding : 0;
  }
  .title{
    margin : 0;
    padding : 0;
    margin-top: 0px;
  }
  .side_heading{
    
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    color: #0069d9;
  }
  .side_heading1{
    
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    color: #0069d9;
  }

  .side_heading2{
    
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #0069d9;
  }
  .side_heading3{
    
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #0069d9;
  }
  .side_heading4{
    
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #0069d9;
    font-weight: bold;
  }

  .phone-icon {
    background-image: url("./assets/images/phone_icon.jpg");
  }
 

.phoneimage {
  width: 18px;
  height: 18px;
  background-image: url('../src/assets/images/phone_icon.jpg') ;
  background-size: 18px 18px;
}

.mainpagesliding_bg {

  background-image: url('../src/assets/images/grey_bg.jpg') ;
     /* Full height */
     height: 100%;

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  
}
.staffing_img{
  background-image: url('../src/assets/images/staffing-2.jpg') ;
  width : 700px;
  height : 430px;
  background-size: 700px 430px;

}
.thankyou_img{
  background-image: url('../src/assets/images/thankyou_image.png') ;
  width : 400px;
  height : 250px;
  background-size: 400px 250px;

}
.staffing_search{
  background-image: url('../src/assets/images/staffing_search.jpg') ;
  width : 700px;
  height : 430px;
  background-size: 700px 430px;

}

.careers_img{
  background-image: url('../src/assets/images/careers.jpg') ;
  width : 700px;
  height : 430px;
  background-size: 700px 430px;

}
.services_img{
  background-image: url('../src/assets/images/services_staffing.jpg') ;
  width : 700px;
  height : 430px;
  background-size: 700px 430px;

}

.wrapper{
  width : 450px;
  background-color: hwb(0 94% 0% / 0.225);
  padding : 10px 20px;
  border-radius: 10px;
  box-shadow : 10px 5px #888;
}
.address
{
  font-size: 18px;
  color:coral;
  
}